body {
  font-family: 'Play', sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
}

h1 {  
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 5px 0;
}
h3 {
  font-size: 14px;
  text-align: center;
}
li {
  list-style-type: none;
  padding: 5px 0;
}
ul#streamers {
  padding: 0px;
  margin: 0px 0;
}

@keyframes flipHorizontal {
  0% { transform: rotateX(90deg); }
  100% { transform: rotateX(0deg); }
}
@-webkit-keyframes flipHorizontal {
  0% { transform: rotateX(90deg); }
  100% { transform: rotateX(0deg); }
}
@-moz-keyframes flipHorizontal {
  0% { transform: rotateX(90deg); }
  100% { transform: rotateX(0deg); }
}
@-o-keyframes flipHorizontal {
  0% { transform: rotateX(90deg); }
  100% { transform: rotateX(0deg); }
}
li.streamer > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  transform: rotateX(90deg);

  -webkit-animation:  flipHorizontal .65s .5s forwards;
  -moz-animation: flipHorizontal .65s .5s forwards;
  -o-animation: flipHorizontal .65s .5s forwards;
  animation: flipHorizontal .65s .5s forwards;
}
li.streamer a {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
a {
  padding: 5px 0;
}
a, a:focus, a:visited {
  color: #ffffff;
   transition: color 0.5s ease;
}
a:hover, button:hover, button:active {
  color: #433f4a;  
}
a, a:hover, a:focus {
  text-decoration: none;
}
h3.purple a {
  color: #7d5bbe;
}
p {
  font-size: 14px;
  font-weight: 300;
  flex-basis: 100%;  /* initial size, 100% puts element on new line */
  letter-spacing: 0.05em;
  margin: 5px 0px 4px 0px;
}
p#message {
  font-size: 12px;
}
button {
  outline: none;
  background-color: #433f4a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
button:hover{
  background-color: #7d5bbe;
  color: #ffffff;  
}
img {
  width: 35px;
  height: 35px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0px 10px 5px 0px;
  -webkit-transform: scale(1.05, 1.05); -webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.4), 6px 6px 20px rgba(0,0,0,0.45);
  transform: scale(1.05, 1.05); box-shadow:3px 3px 10px rgba(0,0,0,0.4), 6px 6px 20px rgba(0,0,0,0.45);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.streamer-bar {
  background-color: #433f4a;
  border-radius: 5px;
  perspective: 300px;
  -webkit-perspective: 300px;
}
.streamer-bar-item {
  background-color: none;
}
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0 10px 0;
  font-size: 12px; 
}
.searchInput {
  height: 16px;
  border-radius: 5px;
  outline: none;
  padding: 3px 6px;
  margin: 0 5px;
  border-style: none;
  border: 1px rgba(0,0,0,0.1) solid;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.20), inset 4px 4px 8px rgba(0,0,0,0.25);
  font-family: "FontAwesome", "Play";  /* first font is for placeholder, second is a fallback for input text 
  Font Awesome uses the Unicode Private Use Area (PUA) to store icons. 
  Other characters (non-icon text) are not present and fall back to the browser default. 
  If you define a font on input elements somewhere, then supply the same font as fallback for situations where you use an icon: input { font-family: 'FontAwesome' YourFont; } */
}

.twitch-purple {
  background-color: #7d5bbe;
}
.twitch-blue {
  background-color: #12a6df;
}
.twitch-black {
  background-color: #433f4a;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}
.online {
  background-color: #7d5bbe;
}
.offline {
  background-color: rgba(125, 91, 190, 0.6);
}
.error {
  background-color: rgba(67, 63, 74, 0.6);
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 20em) {  /* 320 / 16 = 20em */
 
}   

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 30em) {  /* 480 / 16 = 30em */
   h1 {
    font-size: 34px;
   }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 48em) {  /* 768 / 16 =  48em */
  h1 {
    font-size: 44px;
    letter-spacing: 0em;
  }
  img {
  width: 45px;
  height: 45px;
  }
  .container {
    padding: 0 50px;
  } 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 62em) {  /* 992 / 16 = 62em */
  h1 {
    font-size: 54px;
  }
 
  button:hover{
  background-color: #12a6df;
  -webkit-transform: scale(1.05, 1.05); -webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.4), 6px 6px 20px rgba(0,0,0,0.45);
  transform: scale(1.05, 1.05); box-shadow:3px 3px 10px rgba(0,0,0,0.4), 6px 6px 20px rgba(0,0,0,0.45);
}
  li.streamer a {
    font-size: 24px;
    letter-spacing: 0.02em;
  }
  .container {
    padding: 0 100px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 75em) { /* 1200 / 16 = 75em */
  .container {
    padding: 0 140px;
  }
  
}